############################################################
# Simulation
############################################################
## get distribution of parameters from (unfiltered) CMC schizophrenia data
#R/simulation_step1_get_distribution_of_parameters_from_real_data.R
## This is just a stupid way to parallelize the process of fitting
## tens of thousands of regression models.
#R/simulation_submit_step1.sh
## Model fits to guide simulations
results/get_distribution_of_parameters_from_real_data_results/
## Simulate data. The simulated data are not included because they were very large.
#R/simulation_step2_simulate_data.R
## Conduct tests using CARseq, TOAST, csSAM, etc.
#R/simulation_step3_test_method.R
## submit simulation_step3_test_method.R
#R/simulation_submit_step3.sh
## individual functions for the tests
#R/simulation_test_CARseq.R
#R/simulation_test_TOAST_TPM.R
#R/simulation_test_csSAM.R
#R/simulation_test_CIBERSORTx.R
## Collect the DE test results and make plots
#R/simulation_step4_compare_methods_multiple_replicates.R
## Simulation DE test results in tables
#results/compare_method_metrics_multiple_replicates.csv
## Simulation DE test results in figures
#figures/compare_methods_fdr_multiple_replicates_draft_version_p1.pdf
#figures/compare_methods_fdr_multiple_replicates_draft_version_p2.pdf
#figures/compare_methods_fdr_multiple_replicates_draft_version_p3.pdf
#figures/compare_methods_fdr_multiple_replicates_draft_version_p4.pdf

############################################################
# SCZ
############################################################
## Add annotation
#R/SCZ_step0_gene_annotations.R
## GENCODE files
#Homo_sapiens.GRCh37.70.processed.gtf.gz
#ExonicGeneLengths_GRCh37_70.RData
Homo_sapiens_ensembl_70_GRCh37.sqlite  # too large
##SummarizedExperiment object
#data/rse_filtered_SV.rds  # too large
#
##cellular frequencies not resized using cell sizes:
#data/prop_from_TPM.rds
##cellular frequencies resized using cell sizes:
#data/prop_resized.rds  # a subset of samples of MTG/prop_MTG.rds
#
## CARseq
#R/SCZ_step1_CARseq_SV2.R
#R/SCZ_step1_CARseq_SV2_permuted.R
#results/SCZ_CARseq_ICeDT_SV2.rds
#results/SCZ_CARseq_ICeDT_permuted_SV2.rds
#results/SCZ_CARseq_CIBERSORT_SV2.rds
#results/SCZ_CARseq_CIBERSORT_permuted_SV2.rds
## TOAST and DESeq2
#R/SCZ_step1_TOAST_and_DESeq2_SV2.R
#results/SCZ_step1_TOAST_with_covariates_SV2.txt
#results/SCZ_step1_TOAST_with_covariates_SV2_permuted.txt
## DESeq2
#results/SCZ_step1_DESeq2_bulk_adj_covariates_SV2.txt
#results/SCZ_step1_DESeq2_bulk_adj_covariates_SV2_lfcShrink.txt
#results/SCZ_step1_DESeq2_bulk_adj_covariates_SV2_permuted.txt

############################################################
# ASD
############################################################
## Add annotation
#R/ASD_step0_gene_annotations.R
## read counts and clinical variables:
#data/ucla_cDat.rds
#data/ucla_eDat.rds
## GENCODE files
#gencode.v19.annotation.gtf.gz
#ExonicGeneLengths_GRCh37_GENCODE19.RData
##SummarizedExperiment object
#data/ASD_rse_filtered_with_SVs.rds
#
##cellular frequencies not resized using cell sizes:
#data/ASD_prop_from_TPM.rds
##cellular frequencies resized using cell sizes:
#data/ASD_prop.rds
#
## CARseq
#R/ASD_step1_CARseq_SeqSV4.R
#R/ASD_step1_CARseq_SeqSV4_permuted.R
#results/ASD_CARseq_ICeDT_SeqSV4.rds
#results/ASD_CARseq_ICeDT_permuted_SeqSV4.rds
#results/ASD_CARseq_CIBERSORT_SeqSV4.rds
#results/ASD_CARseq_CIBERSORT_permuted_SeqSV4.rds
## TOAST and DESeq2
#R/ASD_step1_TOAST_and_DESeq2_SeqSV4.R
#results/ASD_step1_TOAST_with_covariates_SeqSV4.txt
#results/ASD_step1_TOAST_with_covariates_SeqSV4_permuted.txt
## DESeq2
#results/ASD_step1_DESeq2_bulk_adj_covariates_SeqSV4.txt
#results/ASD_step1_DESeq2_bulk_adj_covariates_SeqSV4_lfcShrink.txt
#results/ASD_step1_DESeq2_bulk_adj_covariates_SeqSV4_permuted.txt

############################################################
# Figure generation
############################################################
## generate figures
#reproducible_figures.Rmd
#reproducible_figures.html

############################################################
# Pipeline to process CMC SCZ RNA-seq data
############################################################
## CMC data raw counts
data/CMC_MSSM-Penn-Pitt_Paul_geneExpressionRaw.rds
## CMC some of the clinical variables
#data/CMC-CMC_HBCC_clinical_.csv
## CMC some more clinical variables (used in preparation of simulations)
#data/trec_dat_post_QC_PCA_Control.rds
#data/trec_dat_post_QC_PCA_SCZ.rds
## CMC RNA-seq sample ID vs. individual ID
#data/Release3_SampleID_key.csv
data/bulkTPM_icedt*.txt  # generated by Paul Little and is only temporarily stored here for comparison purposes
data/sigTPM_icedt*.txt  #  generated by Paul Little and is only temporarily stored here for comparison purposes
data/decon_sum_prop.rds #  generated by Paul Little and is only temporarily stored here for comparison purposes
R/_compare_SCZ_CIBERSORT_input.R*  # generated by Paul Little and is only temporarily stored here for comparison purposes

.DS_Store
.Rhistory
